@charset "utf-8";
/* CSS Document */
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	width: 100%;
	height: 100vh;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #ffd6b2;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
#maincontent {
  background-color: #f3f3f3;
}
#footer {
  background-color: #444;
  color: #f1f0f0;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  height: 3vh;
  z-index: 9999999;
}
/* ====================== Navigation ====================== */
nav.header {
  width: calc(100% - 20px);
  font-size: 13pt;
  padding: 10px;
  background-color: #252831;
  text-align:center;
  display: flex;
}
nav h1 {
  margin: auto;
  top: auto;
  bottom: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(100% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #004a8a;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 87vh;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  padding: 10px;
  background-color: #3397DB;
  align-items: center;
  width: calc(100% - 20px);
}
.filter-options h2 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px;
}
.filter-options select {
  font-family: Arial,sans-serif;
  font-size: 3em;
  margin: 10px 0 10px 0;
  width: 100%;
}
.filter-options select option {
  font-size: 2rem;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 10px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px 0px;
  min-height: 380px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #cc8500;
  font-family: Arial,sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 20px 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0 20px;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #c37221;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: block;
  font-size: 2em;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  width: calc(100% - 40px);
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside body {
  display: flex;
  flex-direction: column;
}

.inside #maincontent {
  padding-top: 110px;
  padding-bottom: 40px;
  flex-grow: 1;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 50vh;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.side-container {
  display: flex;
  flex-direction:  column;
}

#restaurant-name {
  color: #b35400;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: inherit;
  letter-spacing: 0;
  margin: 15px 0 20px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	max-width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0 15px 0;
  width: calc(100% - 30px);
}
#reviews-container {
  padding: 30px 20px 0;
  width: calc(100% - 40px);
}
#reviews-container h3 {
  color: #b54d00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 10px 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}

.review__reviewer-name {
  font-size: 2em;
}

.review__review-date {
  font-style: italic;
}

.review__review-information {
  border-bottom:  1px solid black;
  margin-bottom:  20px;
}

#restaurant-hours{
  width: 100%;
}
#restaurant-hours td {
  color: #666;
}

@media screen and (min-width: 750px) {
  #maincontent {
    display: flex;
  }

  #map-container {
    height: 85vh;
    width: 50%;
  }

  #map {
    height: 100%;
  }

  #restaurants-container {
    width: 50%;
    height: 85vh;
    overflow-y: scroll;
  }

  .inside #maincontent {
    display: flex;
    flex-direction: column;
    flex-wrap:  wrap;
    height: 78vh;
  }

  .inside #map-container {
    height: 87%;
    position: relative;
    height: 30vh;
  }

  .side-container {
    width: 50%;
  }

  #restaurant-container {
    height: 100%;
    width: calc(50% - 30px);
  }

  #reviews-container {
    height: calc(100% - 34vh + 5px);
    overflow-y:  scroll;
  }
}

@media screen and (min-width: 1000px) {
  #maincontent {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}